
}

body{
    width: 100%;
    height: auto;
    background-color: white;
    overflow-x: hidden;
}

.navbar{
    display: flex;
    align-items: center;
    background-color: #f8c9ff;
    justify-content: space-between;
    padding-left: 12%;
    padding-right: 10%;
    height: 9rem;
    font-family: Times New Roman, Times, Serif;
    font-style: italic;
    font-size: 5rem;
    scroll-behavior: smooth;
}

.logoo{
    width: 30rem;
    height: 30rem;
    align-items: center;
