
}

body{
    width: 100%;
    height: auto;
    background-color: white;
    overflow-x: hidden;
}

.navbar{
    display: flex;
    align-items: center;
    background-color: #30BBCF;
    justify-content: space-between;
    padding-left: 12%;
    padding-right: 10%;
    height: 9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5em;
    text-decoration: none;
    scroll-behavior: smooth;
}
.nav {
    width: 65%;
